*.la
*.lo
.deps
.libs
Makefile.in
Makefile
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
extensions/*/*.ephy-extension
gnome-doc-utils.make
help/*.omf
help/*/*.mo
help/*/*.xml
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
m4/gnome-doc-utils.m4
m4/intltool.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
mkinstalldirs
po/.intltool-merge-cache
po/Makefile.in.in
po/POTFILES
po/*.gmo
po/stamp-it
stamp-h1
